.cell{
    display: inline-block;
    border: 1px black solid;
    width: 60px;
    height: 60px;

    -webkit-border-radius: 30px;
    border-radius: 30px;
}

.player1{
    background-color: #204d74;
}

.player2{
    background-color: #449d44;
}

.player3{
    background-color: #ac2925;
}

.player4{
    background-color: #d58512;
}

.player5{
    background-color: yellow;
}

.player6{
    background-color: cyan;
}