html,body{
    background-color: #a4bed4;
    height: 100%;
}

.player1{
    background-color: #007eec;
}

.player2{
    background-color: #449d44;
}

.player3{
    background-color: #ac2925;
}

.player4{
    background-color: #d58512;
}

.player5{
    background-color: yellow;
}

.player6{
    background-color: cyan;
}

.topBarContent{
    font-size: 150%;
    width: 100%;
    padding: 1% 1% 1% 1%;
    text-align: center;

    border: 2px solid #0083ff;
    border-radius: 5px
}

.myTurn{
    font-size: 175%;
}

.topBar{
    margin: 1% 1% 1% 1%;
    background-color: #d4b25a
}

.currentTurnDiv{
    padding: 1% 1% 1% 1%;
    text-align: center;
}

.mainDiv{
    margin: 1% 1% 1% 1%;
    display: inline-block;
    text-align: center;
    width: -webkit-fill-available;

    border: 2px solid #0083ff;
    border-radius: 5px;

    background-color: #dec78b;

}

.boardBody{
    text-align: center;
}

.gameBoard{
    float:left;
    height:fit-content;
    width: 85%;

    padding: 1% 1% 1% 1%;
}

.boardAndButtons{
    display: inline-block;
    width: fit-content;
}

.rightSide{
    position: absolute;
    right:1.5%;
    float:right;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

#leaveGame{
    margin-top: 3%;
}

.chat{
    width:fit-content;
    padding-top: 0.25em;
}


.tableDiv{
    height: fit-content;
}

table{
    border-collapse: collapse;
    -webkit-border-radius: 5px;
    overflow: hidden;

}

td, th{
    padding: 0.25em;
    text-align: center;
    border-bottom: 1px solid #7cd59f;
    font-weight: bold;
    width: fit-content;
}

th{
    border-bottom: 1px solid #7cd59f;
    background-color: #eaeaea;
}

td{
    font-weight: normal;
}

th:hover{
    background-color: #7abd94;
}

td:hover{
    background-color: #6fa986;
}

.cell{
    display: inline-block;
    border: 1px black solid;
    width: 32px;
    height: 32px;

    -webkit-border-radius: 30px;
    border-radius: 30px;
}

.moveButton{
    width: 32px;
    height: 32px;
    border: 0;
    background: url(/common/images/pre-hover.png) no-repeat;
    background-size: 100%;
}

.moveButton:hover{
    background: url(/common/images/hover.png) no-repeat;
    background-size: 100%;
}