.body{
    background-color: #84ced5;
    font-family: Cambria;
}

.mainScreen{
    margin: 1% 0% 0% 0%;
    display: flex;
}

.topBar{
    float:left;
    width: 100%;
}

.gamesArea{
    flex: 2 0 0;
    float: left;
    width: 80%;
}

.gamesTable{
    width: 99.9%;
}

.onlinePlayers{
    float:right;
    width: 17%;
    text-align: center;
}

ul{
    list-style-position: inside;
    list-style-type: circle;
    line-height: 200%;
    text-align: left
}

li{
    align-content: center;
}

table{
    border-collapse: collapse;
    margin: 0.5em auto;
}

td, th{
    padding: 0.25em;
    text-align: center;
    border-bottom: 0.5px solid #7cd59f;
    font-weight: bold;
}

th{
    border-bottom: 1px solid #589374;
    background-color: #7ace9b;
}

td{
    font-weight: normal;
    background-color: #9df9c1;
}

th:hover{
    background: #499167;
}

td:hover{
    background: #4f9b71;
}

.userNameSpan, .logoutSpan{
    font-size: 250%;
}

.userNameSpan{
    float:left;
}

.logoutSpan{
    padding-left:1%;
    float:left;
}

.gameUploadArea{
    padding-left: 5%;
    display: inline-block;
}

.informationalArea{
    border: 2px solid #4c7960;
    border-radius: 10px;
    background-color: beige;
    padding: 1% 1% 1% 1%;
}

.mainScreen{
    padding: 1% 1% 1% 1%;
    border: 2px solid #4c7960;
    border-radius: 10px;
    background-color:beige;
}

h4{
    border-bottom: 1px dotted #308776;
    font-size: 150%;
}

.onlinePlayers{
    padding-left: 1%;
}